.Record {
  padding: 1em;
  margin: 10px auto;
  box-shadow: 2px 1px 10px 1px rgb(0 0 0 / 39%);
  -webkit-box-shadow: 2px 1px 10px 1px rgb(0 0 0 / 39%);
  -moz-box-shadow: 2px 1px 10px 1px rgb(0 0 0 / 39%);
  position: relative;
  background-color: #FFF;
  max-width: 500px;
  width: 100%;
  transition: all 0.5s ease-out;
  &:hover{
    background-color: rgb(102, 23, 69);
    color: #FFF;
    cursor: pointer;
  }

  &__Name{
    text-transform: capitalize;
  }
}